/* font package */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sarabun:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@font-face {
    font-family: 'Staccato555 BT';
    src: url('./fonts/STAC555N.woff2') format('woff2'),
         url('./fonts/STAC555N.woff') format('woff'),
         url('./fonts/STAC555N.TTF') format('truetype');
    font-weight: normal;
    font-style: normal;
}
* {
    font-family: "Poppins", serif;
}
/* navbar */
.navbar-brand {
    font-family: 'Staccato555 BT', sans-serif;
    color: black;
}
.navbar-brand span {
    color: red;
    font-family: 'Staccato555 BT', sans-serif;
    margin-right: 0px;
}
.header-menu > .box {
    background-color: white;
}
.navbar-nav > li > a {
    color: black;
}
.navbar-nav > li.current > a {
    color: red;
}
.header-menu > .box {
    padding-top: 10px;
    padding-bottom: 10px;
}